# Byte-compiled / optimized / DLL files

pycache/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
__pycache__

# IDE specific
.idea/
.vscode/

# Logs and debugging files

logs/
*.log
*.out

# Jupyter Notebook checkpoints

.ipynb_checkpoints/

# Python virtual environments

venv/
.env/
.venv/
env.bak/
venv.bak/

# Data files

raw_data/
!raw_data/__init__.py


# Configurations and environment files

config/config.yaml
*.env

# Ignore OS-specific files

.DS_Store
Thumbs.db

# Testing output

test-output/
.junit/
src/results/
/src/visualization/image/

# Any file type that may contain secrets

*.pem
*.key

/src/visualization/images/
